$color__background-body: #fff;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-button: #e6e6e6;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;

$color__text-screen: #21759b;
$color__text-input: #7d7d7d;
$color__text-input-focus: #333333;
$color__link: royalblue;
$color__link-visited: purple;
$color__link-hover: #333333;

$color__border-button: #ccc #ccc #888;
$color__border-button-hover: #ccc #888 #aaa;
$color__border-button-focus: #aaa #888 #888;
$color__border-input: #ccc;
$color__border-abbr: #7d7d7d;

$black: #303030;
$lightgray: #f6f6f6;
$blue: #0003D1;
$green: #36e2a2;
$red: #ff0f0f;

$color__border-bottom: #eee;