/*--------------------------------------------------------------
# WooCommerce Grid
--------------------------------------------------------------*/
@import "wc-grid";

/*--------------------------------------------------------------
# WooCommerce Archive Filter
--------------------------------------------------------------*/
@import "wc-archive-filter";

/*--------------------------------------------------------------
# WooCommerce Shop Pagination
--------------------------------------------------------------*/
@import "wc-pagination";

/*--------------------------------------------------------------
# WooCommerce Single
--------------------------------------------------------------*/
@import "wc-single";

/*--------------------------------------------------------------
# WooCommerce Tabs
--------------------------------------------------------------*/
@import "wc-tabs";

/*--------------------------------------------------------------
# WooCommerce Add to Cart Button
--------------------------------------------------------------*/
@import "wc-rating";

/*--------------------------------------------------------------
# WooCommerce Header Minibar
--------------------------------------------------------------*/
@import "wc-minibar";

/*--------------------------------------------------------------
# WooCommerce Header Dropkick
--------------------------------------------------------------*/
@import "wc-dropkick";

/*--------------------------------------------------------------
# WooCommerce Cart Trigger
--------------------------------------------------------------*/
@import "wc-cart-trigger";

/*--------------------------------------------------------------
# WooCommerce Cart Panel
--------------------------------------------------------------*/
@import "wc-cart-panel";

/*--------------------------------------------------------------
# WooCommerce Add to Cart Button
--------------------------------------------------------------*/
@import "wc-add-to-cart-btn";

/*--------------------------------------------------------------
# WooCommerce Sale Badge
--------------------------------------------------------------*/
@import "wc-onsale";

/*--------------------------------------------------------------
# WooCommerce Cart
--------------------------------------------------------------*/
@import "wc-cart";

/*--------------------------------------------------------------
# WooCommerce Misc.
--------------------------------------------------------------*/
@import "wc-misc";

/*--------------------------------------------------------------
# WooCommerce Account
--------------------------------------------------------------*/
@import "wc-account";

/*--------------------------------------------------------------
# WooCommerce Variations
--------------------------------------------------------------*/
@import "wc-variations";

/*--------------------------------------------------------------
# WooCommerce Currency Switcher
--------------------------------------------------------------*/
@import "wc-currency-switcher";

.wc-credit-card-form {
	padding: 0;
	border: 0;
	margin: 0;
}

.wc-credit-card-form {
	margin-top: 25px;

	input[type="text"], input[type="email"], input[type="url"], input[type="password"], input[type="search"], input[type="number"], input[type="tel"], input[type="range"], input[type="date"], input[type="month"], input[type="week"], input[type="time"], input[type="datetime"], input[type="datetime-local"], input[type="color"], textarea {
		background: #fff !important;
	}
}