/* Globally hidden elements when Infinite Scroll is supported and in use. */
.infinite-scroll .posts-navigation, /* Older / Newer Posts Navigation (always hidden) */
.infinite-scroll.neverending .site-footer { /* Theme Footer (when set to scrolling) */
	display: none;
}

/* When Infinite Scroll has reached its end we need to re-display elements that were hidden (via .neverending) before. */
.infinity-end.neverending .site-footer {
	display: block;
}

#infscr-loading {
    display: none !important;
}

.page-navigation,
#infinite-navigation {
    line-height: 1;
    text-align: center;
    transition: all 0.25s ease;
    float: right;
    width: 100%;
    text-align: center;
    @include clearfix();

    @media only screen and (min-width: 769px) {
        transition: all 1s cubic-bezier(0.80, 0, 0.07, 1);
    }

    &.js--active {
        @media only screen and (min-width: 769px) {
            width: 80%;
        }
    }
}

.page-navigation {
	line-height: 2;
}

#infinite-navigation a {
    display: inline-block !important;
    padding: 20px 20px 0;
    font-size: 22px;
    font-family: $font__heading;

    @media only screen and (min-width: 600px) {
        font-size: 28px;
    }

    span {
        display: inline-block;
        transition: opacity 200ms cubic-bezier(0.33,0,0.2,1);
    }

    &:hover {
        opacity: .5;
    }
}

.js--opacity-zero {
    opacity: 0;
}

#infinite-navigation.loading a span {
    display: inline-block;
    // opacity: .5;
    animation: wave 1s ease infinite;
    transition: transform all 0.15s cubic-bezier(0.25, 0.54, 0.58, 1);
}

// Delay for portfolio post loading
@mixin animsitiondelay {
    @for $i from 1 through 20 {
        &:nth-of-type(#{$i}) {
            animation-delay: #{$i * .05}s;
        }
    }
}

#infinite-navigation.loading a span {
    @include animsitiondelay;
}