.btn__pinterest {
    position: relative;
    display: inline-block;
    vertical-align: top;
    padding: 0 12px;
    text-decoration: none;
    cursor: pointer;
    outline: 0;
    border-radius: 3px;
    background-clip: padding-box;
    min-height: 34px;
    line-height: 34px;
    border: none;
    transition: opacity 300ms ease-in-out,background-color 300ms cubic-bezier(0.33,0,0.2,1),visibility 0ms 300ms linear;
    background-color: #cc2127;
    color: #fff;
    z-index: 10;
    pointer-events: none;
    opacity: 0;
    user-select: none;
    visibility: hidden;
    position: absolute;
    top: 30px;
    left: 30px;

    &:hover,
    &:focus {
        color: #fff;
        background-color: #de252b;
    }

    &:after {
        display: none !important;
    }
    
    .post__inner:hover &,
    .entry-media:hover & {
        transition: opacity 300ms ease-in-out,visibility 0ms 0ms linear, background-color 300ms cubic-bezier(0.33,0,0.2,1);
        pointer-events: auto;
        opacity: 1;
        visibility: visible;
    }

    &.top-right {
        left: inherit;
        right: 30px;
    }

    &.bottom-left {
        top: inherit;
        bottom: 30px;
    }

    &.bottom-right {
        top: inherit;
        left: inherit;
        bottom: 30px;
        right: 30px;
    }

    .svg__wrapper {
        height: 18px;
        width: 43px;
        position: relative;
        top: 3px;

        svg {
            fill: #ffffff;
        }
    }

}