.bb--icon_block {
    margin-top: 35px;
    margin-bottom: 35px;

    &.align__center p,
    &.align__center img {
        margin-left: auto;
        margin-right: auto;
    }

    h5 {
        margin-top: 0 !important;
        margin-bottom: 15px !important;
    }

    p {
        max-width: 420px;
        padding: 0 30px;
        margin-top: 30px;
        margin-bottom: 35px;
    }

    p {
        font-size: 15px;
    }

    &__img {
        margin-bottom: 30px;
    }
}